<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-button
      slot="end"
      color="secondary"
      fill="solid"
      (click)="specialEffects()"
      size="default"
      type="button"
    >
      Move Squares
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-title text-center>Welcome to our app!</ion-title>
  </ion-item>
  <ion-item style="align-items: center;">
    <p>
      Hello there! I, Brandon Bohach, am currently trying to start a company called Germinate.
      I built this website as my portfolio and am turning it into my company website.
      If you've made it here, then you're either curious about who we are as a
      company or what we are capable of doing. Regardless of the reason why you're
      here, we encourage you to poke around and play with the app a bit. If
      you're curious about what sorts of things we're able to do, then keep
      reading on. If you want to know a bit more about us, then I suggest
      heading to the <a href="/app/tabs/about">about page</a>. Click about in the side menu, at the bottom, or
      click an item below that's not yet available... or click
      <a href="/app/tabs/about"> HERE</a>

      <br />
    </p>
  </ion-item>
  <ion-item>
    This app demonstrates some capabilities that could be used in any app idea
    you may have. When we design your app, this is where we will get most of the
    code and ideas from. If you know a bit about coding then feel free to read
    all the content about Ionic. If not, then consider the Ionic content a
    placeholder for your potential content that you'd want in your app. We hope
    that you are able to draw inspiration from this app and can think of an
    incredibly useful one yourself. Go ahead and play with this app on all the
    devices you have so you know that you can reach everyone! Below are some
    shortcuts to different parts of this app.
  </ion-item>
  <ion-row>
    <div src="anime.min.js" class="animate-me" #box></div>

    <div src="anime.min.js" class="animate-me2" #box></div>
  </ion-row>

  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch">
      <ion-col size="8" size-md="6" *ngFor="let category of categories">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item lines="none">
              <!--</ion-item> routerLink="/app/tabs/home/{{category.id}}">-->
              {{ category.name }}
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item
                button
                *ngFor="let detail of category.details"
                (click)="navigateTo(detail)"
              >
                <!--routerLink="/{{detail.id}}">-->
                <h3>{{ detail.name }}</h3>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
