<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-button
      slot="end"
      color="secondary"
      fill="solid"
      (click)="specialEffects()"
      size="default"
      type="button"
    >
      Button
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-title text-center>Welcome to my app!</ion-title>
  </ion-item>
  <ion-item style="align-items: center;">
    <p>
      If you've made it here, then you're either curious about who I am as a
      person or what I am capable of doing. Regardless of the reason why you're
      here, I encourage you to poke around and play with the app a bit. If
      you're curious about what sorts of things I'm able to do, then keep
      reading on. If you want to know a bit more about me, then I suggest
      heading to the about page. Click about in the side menu, at the bottom, or
      click an item below that's not yet available... or click
      <ion-button
        fill="clear"
        style="text-transform: none;"
        (click)="router.navigateByUrl('app/tabs/about')"
      >
        here
      </ion-button>
      <br />
    </p>
  </ion-item>
  <ion-item>
    This app demonstrates some capabilities that could be used in any app idea
    you may have. When I design your app, this is where I will get most of my
    code and ideas from. If you know a bit about coding then feel free to read
    all the content about Ionic. If not, then consider the Ionic content a
    placeholder for your potential content that you'd want in your app. I hope
    that you are able to draw inspiration from this app and can think of an
    incredibly useful one yourself. Go ahead and play with this app on all the
    devices you have so you know that you can reach everyone! Below are some
    shortcuts to different parts of this app.
  </ion-item>
  <ion-row>
    <div src="anime.min.js" class="animate-me" #box></div>

    <div src="anime.min.js" class="animate-me2" #box></div>
  </ion-row>

  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch">
      <ion-col size="8" size-md="6" *ngFor="let category of categories">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item lines="none">
              <!--</ion-item> routerLink="/app/tabs/home/{{category.id}}">-->
              {{ category.name }}
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item
                button
                *ngFor="let detail of category.details"
                (click)="navigateTo(detail)"
              >
                <!--routerLink="/{{detail.id}}">-->
                <h3>{{ detail.name }}</h3>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
